DEBUG=True

SECRET_KEY=your-secret-key

DATABASE_URL=postgres://postgres:password@db:5432/bulletin

REDIS_URL=redis://redis:6379

POSTGRES_DB=bulletin

POSTGRES_USER=postgres

POSTGRES_PASSWORD=password

ALLOWED_HOSTS=localhost,127.0.0.1