{% extends "main/base.html" %}
{% load static %}
{% block section %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">

    <p>У вас нету аккаунта?</p>
    <p>Можете зарегестрироваться здесь <a style="text-decoration: none;" href="{% url 'users:register' %}">Регистрация</a></p>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form action="{% url "users:login" %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="create_btn" type="submit">Войти</button>
    </form>

    
{% endblock section %}