{% extends 'main/base.html' %}
{% load static %}

{% block section %}
<section class="product-section">

    <!-- Левая часть (галерея) -->
    <div id="carouselExampleAutoplaying" class="carousel slide" style="width: 780px;height: 400;" data-bs-ride="carousel">
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <img  src="{{product.images.first.image.url}}" class="d-block w-100" alt="...">
            </div>

            {% for img in product.images.all|slice:"1:" %}
                <div class="carousel-item"> 
                    <img src="{{img.image.url}}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

    <!-- Правая часть -->
    <div class="product-container-right">

        <div class="product-container product-info">
            <div style="display: flex;align-items:center;justify-content: space-between;">

                <span class="product-date">{{ product.created_at|date:"d M Y" }}</span>
                <img
                    class="like"
                    style="cursor: pointer; height: 50px;width: 50px;"
                    src="
                        {% if product.is_liked %}
                            {% static 'main/image/red_heart.png' %}
                        {% else %}
                            {% static 'main/image/black_heart.png' %}
                        {% endif %}"
                    data-url="{% url 'main:ProductLike' %}"
                    data-product-id="{{product.id}}"
                    data-black-heart="{% static 'main/image/black_heart.png' %}"
                    data-red-heart="{% static 'main/image/red_heart.png' %}"
                    alt=""
                >
            </div>
            <h3>{{product.name}}</h3>
            <span class="product-price">${{ product.price }}</span>
        </div>
     
            <!-- Автор -->
        <div class="product-container product-author">
            <h2>Пользователь</h2>
            <p>{{product.author}}</p> 
            <p>{{product.author.phone_number}}</p>       
        </div>
    
    </div>

    <!-- Характеристики + описание -->
    <div class="product-details">
        <div class="product-container product-attributes">
            <h3>Характеристики</h3>
            <ul>
                {% for attr in product.attributevalue_set.all %}
                    <li><strong>{{ attr.attribute.name }}:</strong> {{ attr.value }}</li>
                {% empty %}
                    <li>Нет характеристик</li>
                {% endfor %}
            </ul>
        </div>

        <div class="product-container product-description">
            <h3>Описание</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>

   

</section>

<link rel="stylesheet" href="{% static 'main/css/product.css' %}">
<script src="{% static 'main/js/like.js' %}"></script>    

{% endblock section %}

