{% extends "main/base.html" %}
{% load static %}
{% block section %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.category }}

        {{ form.subcategory }}

        {{ form.name }}

        <div id="attributes"></div>

        {{ form.price }}

        <input type="file" name="images" multiple>


    <button type="submit">Create</button>
    </form> 

    <script src="{% static 'main/js/SubCategory.js' %}"></script>
    <script src="{% static 'main/js/attributes.js' %}"></script>
{% endblock section %}

