{% extends "main/base.html" %}
{% load static %}

{% block section %}
<section style="margin: 30px 100px;">
    <h2 style="text-align:center; margin-bottom: 25px;">Избранные объявления</h2>

    <div class="product-list">
        {% for like in likes %}
            <a href="{% url 'main:Product' product.id %}" style="text-decoration: none;">
                <div class="product-card">
                    <div class="product-image">
                        <div>
                            <img  class="product-photo" src="{{like.product.images.first.image.url}}" alt="123">
                        </div>
                        
                    </div>
                    <div class="product-info">
                        <a href="{% url 'main:Product' like.product.id %}"><h4>{{ like.product.name }}</h4></a>
                        <p class="price">{{ like.product.price }} ₸</p>
                        <p class="created">Добавлен: {{ like.product.created_at|date:"d.m.Y H:i" }}</p>
                        <p class="author">Автор: {{ like.product.author.username }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% empty %}
        <h1 style="display: flex;align-items: center;justify-content: center;">Поставьте лайк на понравившиеся объявления, чтобы увидеть их здесь.</h1>
        
    </div>
</section>
<link rel="stylesheet" href="{% static 'main/css/products.css' %}">

{% endblock section %}





