{% extends 'main/base.html' %}

{% load static %}

{% block title %}Товары{% endblock title %}

{% block section %}
<section style="margin: 30px 100px;">
    <h2 style="text-align:center; margin-bottom: 25px;">Товары</h2>

    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <div>
                        <img  class="product-photo" src="{{product.images.first.image.url}}" alt="123">
                    </div>
                    <img
                        class="like"
                        style="cursor: pointer; height: 50px;width: 50px;"
                        src="
                            {% if product.is_liked %}
                                {% static 'main/image/red_heart.png' %}
                             
                            {% else %}
                                {% static 'main/image/black_heart.png' %}
                            {% endif %}"
                        data-url="{% url 'main:ProductLike' %}"
                        data-product-id="{{product.id}}"
                        data-black-heart="{% static 'main/image/black_heart.png' %}"
                        data-red-heart="{% static 'main/image/red_heart.png' %}"
                        alt=""
                    >
                </div>
                <div class="product-info">
                    <a href="{% url 'main:Product' product.id %}"><h4>{{ product.name }}</h4></a>
                    <p class="price">{{ product.price }} ₸</p>
                    <p class="created">Добавлен: {{ product.created_at|date:"d.m.Y H:i" }}</p>
                    <p class="author">Автор: {{ product.author.username }}</p>
                </div>
            </div>
            {% empty %}
            <p style="text-align:center;">Нет товаров в этой подкатегории</p>
        {% endfor %}
    </div>
</section>
<link rel="stylesheet" href="{% static 'main/css/products.css' %}">

{% endblock section %}
