.product-section {
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 2fr 1fr; /* галерея больше */
    gap: 30px;
}

.carousel {
    border-radius: 20px;
    overflow: hidden;
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

.product-container {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* Правая колонка */
.product-container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    font-size: 28px;
    margin: 10px 0;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
}

.product-date {
    color: #888;
    font-size: 14px;
}

/* лайк */
.product-like img {
    transition: transform 0.2s;
}
.product-like img:hover {
    transform: scale(1.1);
}

/* Автор */
.product-author {
    grid-column: span 2;
}

/* Нижний блок */
.product-details {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.product-attributes ul {
    padding-left: 20px;
}

.product-attributes li {
    margin-bottom: 8px;
}

