.product-section {
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 2fr 1fr; /* галерея больше */
    gap: 30px;
}
.carousel {
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.carousel-item {
    height: 500px;
}

.carousel img {
    width: 95%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-container {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* Правая колонка */
.product-container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    font-size: 28px;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
}

.product-date {
    color: #888;
    font-size: 14px;
}

/* лайк */
.product-like img {
    transition: transform 0.2s;
}
.product-like img:hover {
    transform: scale(1.1);
}

/* Автор */
.product-author {
    grid-column: span 2;
}

/* Нижний блок */
.product-details {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: flex-start;
}


.product-attributes ul {
    padding-left: 20px;
}

.product-attributes li {
    margin-bottom: 8px;
}


.user{
    display: flex;
    flex-direction: row;
}


.write-btn {
    background: #242424;
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    text-decoration: none;
}

.write-btn:hover {
    background: #3e3e3e;
}





